body{
    background-color:pink ;
    }
    
     h1{
    color:purple ;
    font-family:'Segoe UI', sans-serif ;
    background:pink ;
    }
    
    Estilizar os parágrafos
    p{
    color:white ;
    font-family:sans-serif ;
    font-size: 100;
    background:purple ;

    }
    #Kendallcosmetics {
        width: 100;